* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ccebff;
}

.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: black;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 30px;
}

.header h1 .seo {
  color: #d9dcd6;
}

.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.header div ul {
  list-style-type: none;
}

.header div ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  height: 200px;
  width: 100%;
  background-position: center;
}

.content {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;

  writing-mode: horizontal-tb;
}

.footer h2 {
  font-size: 20px;
}
.imagelink {
  max-width: 40%;
  border: 5px solid #2589bd;
  margin: 5px;
}
.imagelink1 {
  float: right;
  max-width: 40%;
  border: 5px solid #2589bd;
  margin: 5px;
  margin-right: 192px;
  height: 223px;
}

.digitalimage {
  max-width: 82%;
  display: inline-block;
  border: 5px solid #2589bd;
}

.placeholder {
  max-width: 40%;
  border: 5px solid #2589bd;
  margin: 5px;
  height: 40px;
}
.container {
  position: relative;
}
.text-block {
  position: absolute;
  bottom: 20px;
  left: 184px;
  background-color: rgb(100, 207, 226);
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
.text-block1 {
  position: absolute;
  bottom: 20px;
  right: 6px;
  background-color: rgb(100, 207, 226);
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
.outerDiv {
  float: left;
  margin-right: 25px;
  border-right: 5px solid black;
}
.footer a {
  color: black;
}
.aboutMetext {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  padding: 31px;
}
.sectionTitle {
  float: left;
  width: 100px;
  border-right: 5px solid black;
  margin: 1px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;

  flex-wrap: wrap;
  justify-content: space-around;
}

.sectionImages {
  height: 863px;

  float: left;
  width: 100px;
  border-right: 5px solid black;
  margin: 34px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;

  flex-wrap: wrap;
  justify-content: space-around;
}
.footer p {
  display: flex;
  text-align: center;
  padding-left: 200px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
